.menu-projeto__container{
  width: 100%;
  height: 40%;
  display: block;
}

.menu-projeto__container-input{ 
  height: 3.5rem;
  outline: none;
  box-sizing: border-box;
}

.menu-projeto__input,
.menu-projeto__descricao{
  height: 100%;
  width: 98%;
  padding-left: 1rem;
  border-radius: var(--border-radius);
  border: 0 solid;
  font-size: 1rem;
  background-color: var(--inner-input-color);
  color: var(--text-color-white);
  margin-bottom: 1rem;
}

.menu-projeto__input:focus{
  outline: 0;
}

.menu-projeto__descricao{
  resize: none;
  padding: 1rem 0 1rem 1rem;
  font-family: inherit;
  font-size: 1rem;
}

.menu-projeto__descricao::-webkit-scrollbar {
  width: 10px;
}

.menu-projeto__descricao::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent; 
}

.menu-projeto__descricao:focus{
  outline: none;
}

@media screen and (max-width: 1128px) {
  .menu-projeto__container{
    display: flex;
    flex-direction: column;
  }
}