.nav__perfil-container{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav__perfil-usuario{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  height: 100%;
  padding: 0 .5rem;
  cursor: pointer;
}

.nav__perfil-usuario:hover{
  background-color: var(--inner-input-color);
}

.nav__perfil-img-container{
  --perfil-image-size: 2rem;
  height: var(--perfil-image-size);
  width: var(--perfil-image-size);
}

.nav__perfil-img{
  height: var(--perfil-image-size);
  width: var(--perfil-image-size);
  border-radius: 50%;
}

.nav__nome-usuario-container{
  display: flex;
  align-items: center;
  margin-left: var(--border-radius);
  color: var(--text-color-white);
}



@media screen and (max-width: 1128px) {
  
  .nav__perfil-container{
    width: 5%;
  }
  
  .nav__perfil-usuario{
    display: none;
  }

  .nav__menu-hamburguer{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__img-menu-container{
    background: url('../../assets/img/menu-open.svg') no-repeat center;
    width: 100%;
    height: 3rem;
  }

  .menu__is-active{
    background: url('../../assets/img/menu-closed.svg') no-repeat center;
    transition: ease-in-out 200ms;
  }

  .menu-mobile__perfil-hamburguer{
    display: none;
  }

  .menu-mobile__hamburguer-perfil-class{
    display: flex;
  }
}