.text-editor__exportar {
  height: 100%;
  width: 7.5rem;
}

.text-editor__formatos-exportar {
  -moz-appearance: none;
  appearance: none;
  width: 40%;
  height: 100%;
  background-color: var(--inner-input-color);
  color: white;
  border: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.text-editor__formatos-exportar option {
  color: black;
  background-color: #ccc;
}

.text-editor__botao-exportar {
  width: 60%;
  background-color: var(--dot-color-yellow);
  height: 100%;
  cursor: pointer;
  border: none;
  font-size: .9rem;
  padding: 0;
}

.text-editor__botao-exportar:active{
  filter: brightness(60%);
}
