.menu__botao-texto{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color-white);
  font-size: 1.1rem;
}

.menu__botao-container:focus{
  opacity: 100%;
}

.menu__botao-container:hover{
  opacity: 76%;
}