.nav__search-container{
  height: 100%;
  width: 54%;
  outline: none;
  box-sizing: border-box;
}

.nav__search{
  height: 100%;
  width: 98%;
  padding-left: 1rem;
  border-radius: var(--border-radius);
  border: 0 solid;
  font-size: 1rem;
  background-color: var(--inner-input-color);
  color: var(--text-color-white);
}

.nav__search:focus{
  outline: 0;
}

@media screen and (max-width: 650px) {
  .nav__search-container{
    display: none;
  }

  .nav__active{
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .nav__active{
    width: 75%;
  }
}
