:root{
  --bg-primary-color: #051D3B;
  --bg-editor: #141414;
  --border-color-editor: #6BD1FF;
  --inner-input-color: #ffffff29;
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --botao-color: #5081FB;
  --border-radius: 8px;
  --dot-color-red: #FF5F56;
  --dot-color-yellow: #FFBD2E;
  --dot-color-green: #27C93F;
  --color-button-highlight: rgba(80, 129, 251, 0.08);
  --color-save-button: #5081FB;
}

html{
  background-color: var(--bg-primary-color);
  max-width: 1440px;
  margin: 0 auto;
}

.side__wrapper{
  width: 20%;
}

.main__wrapper{
  width: 54%;
}