:root{
  --bg-primary-color: #051d3b;
  --bg-editor: #141414;
  --border-color-editor: #6BD1FF;
  --text-color-white: #ffffff;
  --inner-input-color: #ffffff29;
  --mobile-menu: #2D415B;
  --text-color-black: #000000;
  --botao-color: #5081FB;
  --border-radius: 8px;
  --dot-color-red: #FF5F56;
  --dot-color-yellow: #FFBD2E;
  --dot-color-green: #27C93F;
  --color-button-highlight: rgba(80, 129, 251, 0.08);
  --color-save-button: #5081FB;
  --color-like-iteration: #F65151;
}

html{
  background-color: var(--bg-primary-color);
  max-width: 1440px;
  margin: 0 auto;
}

body::-webkit-scrollbar{
  display: none;
}

body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.side__wrapper{
  width: 20%;
}

.main__wrapper{
  width: 54%;
}

@media screen and (max-width: 1128px) {
  .main{
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .main__wrapper{
    width: 90%;
    justify-content: center;
    align-items: flex-end;
  }

  .side__wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 35rem;
    justify-content: center;
  }

  main > .side__hidden{
    display: none;
  }

}