:root{
  --bg-primary-color: hsl(213, 84%, 13%);
  --bg-editor: hsl(0, 0%, 8%);
  --border-color-editor: hsl(220, 96%, 79%) ;
  --text-color-white: hsl(0, 0%, 100%);
  --inner-input-color: hsla(0, 0%, 100%, 0.161);
  --mobile-menu: hsl(214, 34%, 27%);
  --text-color-black: hsl(0, 0%, 0%);
  --botao-color: hsl(223, 96%, 65%);
  --border-radius: 8px;
  --dot-color-red: hsl(3, 100%, 67%);
  --dot-color-yellow: hsl(41, 100%, 59%);
  --dot-color-green: hsl(129, 68%, 47%);
  --color-button-highlight: rgba(80, 129, 251, 0.08);
  --color-save-button: hsl(223, 96%, 65%);
  --color-like-iteration: hsl(0, 90%, 64%);
}

html{
  background-color: var(--bg-primary-color);
  max-width: 1440px;
  margin: 0 auto;
}

body::-webkit-scrollbar{
  display: none;
}

body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.side__wrapper{
  width: 20%;
}

.main__wrapper{
  width: 54%;
}

@media screen and (max-width: 1128px) {
  .main{
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .main__wrapper{
    width: 90%;
    justify-content: center;
    align-items: flex-end;
  }

  .side__wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 35rem;
    justify-content: center;
  }

  main > .side__hidden{
    display: none;
  }

}