.menu-personalizacao__container {
    height: 60%;
    box-sizing: border-box;
}

.menu-personalizacao__options {
    width: 100%;
    padding-left: 1rem;
    border-radius: var(--border-radius);
    border: 0 solid;
    font-size: 1.1rem;
    background: var(--inner-input-color);
    color: var(--text-color-white);
    margin-bottom: 1rem;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.menu-personalizacao__colors {
    width: 100%;
    border-radius: var(--border-radius);
    border: 0 solid;
    font-size: 1.1rem;
    background: var(--inner-input-color);
    color: var(--text-color-white);
    margin-bottom: 1rem;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.menu-personalizacao__color-picker-container {
    width: 100%;
    border-radius: var(--border-radius);
    border: 0 solid;
    font-size: 1.1rem;
    background: var(--inner-input-color);
    color: var(--text-color-white);
    margin-bottom: 1rem;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.menu-personalizacao__botao-salvar {
    width: 100%;
    height: 3.375rem;
    border-radius: var(--border-radius);
    border: 0 solid;
    font-size: 1.1rem;
    background: var(--inner-input-color);
    color: var(--text-color-white);
    margin-bottom: 1rem;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-color: var(--botao-color);
    cursor: pointer;
    filter: brightness(90%);
}

.botao__salvar--confirm {
    border-radius: var(--border-radius);
    border: 0 solid;
    font-size: 1.1rem;
    background: var(--inner-input-color);
    color: var(--text-color-white);
    margin-bottom: 1rem;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.botao__salvar--confirm::before {
    content: 'Salvo';
    background-color: green;
}

.botao__salvar--confirm {
    background: green;
}

.menu-personalizacao__options {
    height: 32%;
}

.menu-personalizacao__options:hover {
    cursor: pointer;
}

.menu-personalizacao__option,
.menu-personalizacao__color {
    color: var(--text-color-black);
}

.menu-personalizacao__color-picker-container {
    background-color: var(--bg-primary-color);
    border: 1px solid white;
    padding: 0px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.personalizacao__options-selecao {
    height: 50%;
}

.menu-personalizacao__color-picker {
    width: 98%;
    height: 86%;
    border: 0px;
    outline: none;
    padding: 0px;
    background-color: var(--bg-primary-color);
    border-radius: var(--border-radius);
}

.menu-personalizacao__botao-salvar span::before {
    content: "Salvar projeto";
}

.menu-personalizacao__botao-salvar:hover {
    filter: brightness(100%);
    transition: ease-in-out 200ms;
}

@media screen and (max-width: 1128px) {
    .menu-personalizacao__container {
        display: flex;
        flex-direction: column;
    }

    .personalizacao__options-selecao {
        display: flex;
        height: 17%;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .menu-personalizacao__color-picker-container,
    .menu-personalizacao__options {
        height: 100%;
    }

    .menu-personalizacao__title {
        text-align: start;
    }
}

@media screen and (max-width: 500px) {
    .personalizacao__options-selecao {
        flex-direction: column;
        height: 50%;
    }

    .menu-personalizacao__color-picker-container {
        margin-bottom: 1rem;
    }

    .menu-personalizacao__options {
        margin: 0;
    }
}