.menu-personalizacao__container{
  width: 100%;
  height: 60%;
  box-sizing: border-box;
}

.menu-personalizacao__options,
.menu-personalizacao__colors,
.menu-personalizacao__color-picker-container,
.menu-personalizacao__botao-salvar{ 
  height: 15%;
  width: 100%;
  padding-left: 1rem;
  border-radius: var(--border-radius);
  border: 0 solid;
  font-size: 1.1rem;
  background: var(--inner-input-color);
  color: var(--text-color-white);
  margin-bottom: 1rem;
  -moz-appearance: none;
}

.menu-personalizacao__options{
  height: 32%;
}

.menu-personalizacao__option,
.menu-personalizacao__color{
  color: var(--text-color-black);
  /* background: #051D3B99; */
}

.menu-personalizacao__color-picker-container{
  background-color: var(--bg-primary-color);
  border: 1px solid white;
  padding: 0px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}

.personalizacao__options-selecao{
  height: 50%;
}

.menu-personalizacao__color-picker{
  width: 98%;
  height: 86%;
  border: 0px;
  outline: none;
  padding: 0px;
  background-color: var(--bg-primary-color);
  border-radius: var(--border-radius);
}

.menu-personalizacao__botao-salvar{
  background-color: var(--color-save-button);
  cursor: pointer;
  filter: brightness(90%);
}

.menu-personalizacao__botao-salvar:hover{
  filter: brightness(100%);
  transition: ease-in-out 200ms;
}

@media screen and (max-width: 1128px) {
  .menu-personalizacao__container{
    display: flex;
    flex-direction: column;
  }

  .personalizacao__options-selecao{
    display: flex;
    width: 100%;
    height: 17%;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .menu-personalizacao__color-picker-container,
  .menu-personalizacao__options{
    height: 100%;
  }
  .menu-personalizacao__title{
    text-align: start;
  }
}