.search-bar-mobile__container{
  cursor: pointer;
  width: 3.5rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
}

.search-bar-mobile__img-menu-container{
  background: url('assets/svg/search.svg') no-repeat center;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
}

.search-bar-mobile__is-active{
  background: url('assets/svg/menu-closed.svg') no-repeat center;
  transition: ease-in-out 200ms;
}

@media screen and (max-width: 650px) {
  .search-bar-mobile__container{
    display: flex;
  }
}